%tr
  %td= link_to article.title, article
  %td= truncate article.content, length: 32
  %td= link_to 'Edit', edit_article_path(article), remote: true
  %td= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, remote: true
  %td= article.id
