%h1 Listing articles
%table
  %thead
    %tr
      %th Title
      %th Content
      %th
      %th
      %th ID
  %tbody#table_rows
    - @articles.each do |article|
      = render partial: "article_row", locals: {article: article}
%br
