%p#notice= notice

%p
  %b Title:
  = @article.title
%p
  %b Content:
  = @article.content

= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Back', :back
\|
= link_to 'Index', articles_path
